In [1]:
import numpy as np
import pandas as pd
import statistics as st

In [2]:
dataset=pd.read_csv (r'D:\DSA_2019\churn.csv')

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 21 columns):
state                            5000 non-null int64
account_length                   5000 non-null int64
area_code                        5000 non-null int64
phone_number                     5000 non-null int64
international_plan               5000 non-null int64
voice_mail_plan                  5000 non-null int64
number_vmail_messages            5000 non-null int64
total_day_minutes                5000 non-null float64
total_day_calls                  5000 non-null int64
total_day_charge                 5000 non-null float64
total_eve_minutes                5000 non-null float64
total_eve_calls                  5000 non-null int64
total_eve_charge                 5000 non-null float64
total_night_minutes              5000 non-null float64
total_night_calls                5000 non-null int64
total_night_charge               5000 non-null float64
total_intl_minutes               5000 non-null float64
total_intl_calls                 5000 non-null int64
total_intl_charge                5000 non-null float64
number_customer_service_calls    5000 non-null int64
class                            5000 non-null int64
dtypes: float64(8), int64(13)
memory usage: 820.4 KB

In [6]:
dataset.describe()

,state,account_length,area_code,phone_number,international_plan,voice_mail_plan,number_vmail_messages,total_day_minutes,total_day_calls,total_day_charge,...,total_eve_calls,total_eve_charge,total_night_minutes,total_night_calls,total_night_charge,total_intl_minutes,total_intl_calls,total_intl_charge,number_customer_service_calls,class
count,5000.00000,5000.00000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,...,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,25.99840,100.25860,436.911400,2499.500000,0.094600,0.264600,7.755200,180.288900,100.029400,30.649668,...,100.191000,17.054322,200.391620,99.919200,9.017732,10.261780,4.435200,2.771196,1.570400,0.141400
std,14.80348,39.69456,42.209182,1443.520003,0.292691,0.441164,13.546393,53.894699,19.831197,9.162069,...,19.826496,4.296843,50.527789,19.958686,2.273763,2.761396,2.456788,0.745514,1.306363,0.348469
min,0.00000,1.00000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,13.00000,73.00000,408.000000,1249.750000,0.000000,0.000000,0.000000,143.700000,87.000000,24.430000,...,87.000000,14.140000,166.900000,87.000000,7.510000,8.500000,3.000000,2.300000,1.000000,0.000000
50%,26.00000,100.00000,415.000000,2499.500000,0.000000,0.000000,0.000000,180.100000,100.000000,30.620000,...,100.000000,17.090000,200.400000,100.000000,9.020000,10.300000,4.000000,2.780000,1.000000,0.000000
75%,39.00000,127.00000,415.000000,3749.250000,0.000000,1.000000,17.000000,216.200000,113.000000,36.750000,...,114.000000,19.900000,234.700000,113.000000,10.560000,12.000000,6.000000,3.240000,2.000000,0.000000
max,50.00000,243.00000,510.000000,4999.000000,1.000000,1.000000,52.000000,351.500000,165.000000,59.760000,...,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000,1.000000

In [7]:
calls = dataset[['state','phone_number','total_day_calls','total_eve_calls','total_night_calls','total_intl_calls']]

In [11]:
calls[['state','total_day_calls','total_eve_calls','total_night_calls','total_intl_calls']].groupby([calls['state']]).sum().sort_values(['total_day_calls'],ascending=False)

,state,total_day_calls,total_eve_calls,total_night_calls,total_intl_calls
state,,,,,
49,7742,15864,15659,15644,701
23,2875,12543,12438,12797,526
13,1547,12379,12181,12045,553
1,124,12292,12102,12174,558
45,5310,11989,11611,11244,564
43,4988,11630,11775,11791,492
35,4060,11628,11873,11883,494
50,5750,11561,11568,11481,534
31,3472,11334,11293,11351,511
34,3876,11169,11575,11205,519
44,4928,11103,11186,11222,515
37,4218,10917,11134,11777,483
48,5088,10437,10558,10626,431
15,1470,10376,9758,9893,400
21,2163,10310,10756,10362,449
19,1957,10243,10198,9694,475
46,4646,10237,9891,10220,486
22,2266,10170,10381,10473,491
20,2040,10087,9904,10046,452
16,1584,9910,10093,9945,437
25,2475,9883,9952,10029,429
47,4606,9840,9451,10036,450
17,1683,9758,9738,10076,405
6,594,9700,9794,10102,403
39,3861,9680,9617,9674,433
26,2574,9583,9612,10073,452
30,2850,9495,9495,9063,423
5,480,9399,9591,9195,416
40,3640,9394,9075,9237,381
24,2232,9308,9234,9331,465
8,752,9221,9091,9256,397
2,184,9193,9057,9311,437
32,2912,9153,9422,9064,422
27,2457,9131,9316,9142,400
33,2970,9070,8845,9090,391
36,3240,9057,9303,8933,419
9,810,9031,9648,9112,382
3,267,8905,9020,8896,423
42,3738,8903,9094,8529,395
28,2464,8894,9288,9063,415
7,616,8888,8916,8985,349
11,946,8866,8480,8708,420
14,1232,8679,8889,8429,347
29,2552,8657,8987,8775,361
18,1476,8508,8095,8201,378
10,830,8422,8485,8561,358
41,3485,8157,8423,8194,393
38,2926,7698,7898,7662,309
0,0,7167,7127,7136,335
12,828,6996,6818,6863,291
4,208,5332,5260,4997,226